<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.album4pro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Album4Pro">
        <activity
            android:name=".gallery.VideoViewActivity"
            android:exported="true" />
        <activity
            android:name=".SlideShow"
            android:exported="true" />
        <activity
            android:name=".setting.HuongInfoActivity"
            android:exported="false" />
        <activity
            android:name=".setting.TriInfoActivity"
            android:exported="false" />
        <activity
            android:name=".setting.TuongInfoActivity"
            android:exported="false" />
        <activity
            android:name=".setting.ThatInfoActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".privates.AnswerSecurityQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".privates.SecurityQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".privates.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".privates.CreatePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".privates.EnterPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".setting.SelectThemeActivity"
            android:exported="true" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".setting.LanguageActivity"
            android:exported="true"
            android:parentActivityName=".setting.SettingActivity" />
        <activity
            android:name=".setting.HelpActivity"
            android:exported="true"
            android:parentActivityName=".setting.SettingActivity" />
        <activity
            android:name=".setting.PolicyActivity"
            android:exported="true"
            android:parentActivityName=".setting.SettingActivity" />
        <activity
            android:name=".setting.AboutUsActivity"
            android:exported="true"
            android:parentActivityName=".setting.SettingActivity" />
        <activity
            android:name=".gallery.DetailPhoto"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>